<header class="p-2 bg-violet-950 text-neutral-50">
  <nav class="max-w-screen-sm mx-auto sm:flex">
    <a
      href="{{ .Site.Home.RelPermalink }}"
      class="text-xl font-mono py-2 tracking-tight grow block"
    >
      {{ .Site.Title }}
    </a>
    {{ if .Site.Menus.main }}
      <input
        type="checkbox"
        id="main-menu-toggle"
        class="peer sr-only sm:hidden"
      />
      <label
        for="main-menu-toggle"
        class="select-none cursor-pointer inline-block py-1 px-3 peer-focus-visible:outline-dashed peer-focus-visible:outline-1 peer-focus-visible:outline-fuchsia-500 sm:hidden"
      >
        Menu
      </label>
      <ul
        class="peer-checked:block hidden bg-violet-900 py-1 rounded-sm sm:bg-inherit sm:flex sm:peer-checked:flex"
      >
        {{ range .Site.Menus.main }}
          <li class="hover:bg-violet-800 sm:hover:bg-violet-900 sm:rounded-sm">
            {{ if .HasChildren }}
              {{- $slug := printf "%s-menu-toggle" (.KeyName | anchorize) -}}
              <input type="checkbox" id="{{ $slug }}" class="peer sr-only" />
              <label
                for="{{ $slug }}"
                class="
                  cursor-pointer select-none inline-block py-1 px-3 w-full
                  peer-checked:bg-violet-800
                  peer-checked:sm:bg-violet-900
                  peer-focus-visible:outline-dashed
                  peer-focus-visible:outline-1
                  peer-focus-visible:outline-fuchsia-500
                "
              >
                {{ .Name }}
                {{/* heroicon chevron-down */}}
                <svg
                  class="inline"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.8"
                  stroke="currentColor"
                  height="1rem"
                  width="1rem"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m19.5 8.25-7.5 7.5-7.5-7.5"
                  />
                </svg>
              </label>
              <ul
                class="peer-checked:block hidden bg-violet-700 py-1 leading-relaxed rounded-sm sm:absolute z-10"
              >
                {{ range .Children }}
                  <li class="hover:bg-violet-500">
                    <a
                      href="{{ .URL }}"
                      class="inline-block py-1 px-3 w-full focus-visible:outline-dashed focus-visible:outline-1 focus-visible:outline-fuchsia-500"
                    >
                      {{ .Name }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            {{ else }}
              <a
                href="{{ .URL }}"
                class="inline-block py-1 px-3 w-full focus-visible:outline-dashed focus-visible:outline-1 focus-visible:outline-fuchsia-500"
              >
                {{ .Name }}
              </a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </nav>
</header>
